<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/code_explanation.css" rel="stylesheet" ></style>
</head>
<body>
    <div class="container">
       <h1>AWS IAM Create User - set user name and select access type</h1>
       <img src="../static/images/awsuser1.png" style="width:50%">

        <h1>AWS IAM Create User - set permisson</h1>
        <h2>This is the last step</h2> 
        <img src="../static/images/awsuser2.png" style="width:50%">

        <h1>AWS IAM Create User - download security credentials</h1>
        <img src="../static/images/awsuser3.png" style="width:50%">

        <h1>AWS SES Create identity - create email identity </h1>
        <h2>Check region correctly, if diffrerent region need to create different identity</h2>
        <h2>Sender and recevier email both need to be verify on the system</h2>
        <img src="../static/images/awsses1.png" style="width:50%">

        <h1>AWS SES Create identity - verify email</h1>
        <h2>Login the email account and click verify aws email. After this, the identity status is changed as "verified"</h2>
        <img src="../static/images/awsses2.png" style="width:50%">

        <h1>Python Code - import library </h1>
        <h2>import boto3<br/>
            from botocore.exceptions import ClientError</h2>
        
        <h1>Python Code - AWS information update</h1>
        <h2>SENDER = "yinyinbei0717@gmail.com" <br/>
            RECIPIENT = "eunbiella.yoon@gmail.com" <br/>
            AWS_REGION = "us-east-2"</h2>

        <h1>Python Code - About subject, body, body html </h1>
        <img src="../static/images/python1.png" style="width:50%">

        <h1>Python Code - Send email without error code </h1>
        <img src="../static/images/python2.png" style="width:50%">

        <h1>Python Code - Run Python Code </h1>
        <h2>Check "Email Sent" Message from Powershell</h2>
        <img src="../static/images/python3.png" style="width:50%">






    </div>
</body>
</html>